<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
      <table class="table table-responsive">
      <tr>
        <div class="field">
          <td><%= form.label :comment %></td>
          <td><%= form.text_area :comment %></td>
        </div>
      
        <div class="field">
          <%= form.hidden_field :user_id %>
        </div>
        <div class="field">
	  <%= form.hidden_field :restaurant_id %>
        </div>
      </tr>
      <tr>
        <div class="actions">
          <td colspan="2"><%= form.submit %></td>
      </tr>
    </table>
    </div>

<% end %>
