<h1>Editing Comment</h1>
<div class="container">
<%= render 'form', comment: @comment %>

      <table class="table table-responsive">
        <tr>
           <td><%= link_to 'Show', @comment, class: 'btn btn-primary btn-xs' %></td>
           <td><%= link_to 'Back', comments_path, class: 'btn btn-primary btn-xs' %></td>
        </tr>
      </table>

</div>
