<h1>New Comment</h1>

<%= render 'form', comment: @comment %>

<table class="table table-responsive">
      <tr>
        <td><%= link_to 'Back', restaurant_url(@comment.restaurant_id), class: 'btn btn-primary btn-xs' %></td>
      </tr>
      </table>
