<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4">
      <table class="table table-responsive">
      <tr>
        <td><strong>Comment:</strong></td>
        <td> <%= @comment.comment %></td>
      </tr>

      <tr>
        <td><strong>User:</strong></td>
        <td> <%= @comment.user.email %></td>
      </tr>

      <tr>
        <td><strong>Restaurant:</strong></td>
        <td> <%= @comment.restaurant.name %></td>
      </tr>
      <tr>
        <td><%= link_to 'Back', restaurant_url(@comment.restaurant_id), class: 'btn btn-primary btn-xs' %></td>
      </tr>
    </table

    </div>
    
  </div>

</div>

