<p id="notice"><%= notice %></p>

<h1>Histories</h1>

<table>
  <thead>
    <tr>
      <th>Will split</th>
      <th>Wont split</th>
      <th>User</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.will_split %></td>
        <td><%= history.wont_split %></td>
        <td><%= history.user %></td>
        <td><%= history.restaurant %></td>
        <td><%= link_to 'Show', history %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

