<p id="notice"><%= notice %></p>

<p>
  <strong>Will split:</strong>
  <%= @history.will_split %>
</p>

<p>
  <strong>Wont split:</strong>
  <%= @history.wont_split %>
</p>

<p>
  <strong>User:</strong>
  <%= @history.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @history.restaurant %>
</p>

<%= link_to 'Back', histories_path %>
