

<h1>About Split the Check</h1>

<h4>It started with a fevered dream...</h4>
<p>A social media site that rates restaurants who split their customers' check.  Now, 10s of reviews later, Split the Check has become a world wide sensation, drawing users from all over the world.</p>
<%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %>
