<h2>User Summary</h2>

<p>
  <strong>For User:</strong>
  <%= @user.email %>
</p>
<% if @user.comments.count > 0 %>
<h3>My Comments</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Restaurant</th>

    </tr>
  </thead>

  <tbody>
    <% @user.comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= link_to comment.restaurant.try(:name), restaurant_url(comment.restaurant) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @user.histories.count > 0 %>
<h3>My Votes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Will Split Votes</th>
      <th>Wont Split Votes</th>
      <th>Restaurant</th>

    </tr>
  </thead>

  <tbody>
    <% @user.histories.each do |history| %>
      <tr>
        <td><%= history.will_split %></td>
        <td><%= history.wont_split %></td>
        <td><%= link_to history.restaurant.try(:name), restaurant_url(history.restaurant) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @user.favorites.count > 0 %>
<h3>My Favorites</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Favorites</th>

    </tr>
  </thead>

  <tbody>
    <% @user.favorites.each do |favorite| %>
      <tr>
        <td><%= link_to favorite.restaurant.name, restaurant_url(favorite.restaurant) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @user.favorites.count == 0 && @user.histories.count == 0 && @user.comments.count == 0 %>
 <h3>No User Content Available</h3>
<% end %>
<%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %>


