<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
      <table class="table table-responsive">
      <tr>
        <div class="field">
            <td><%= form.label :name %></td>
            <td><%= form.text_field :name %></td>
         </div>

       </tr>
       <tr>
          <div class="field">
            <td><%= form.label :location %></td>
            <td><%= form.text_field :location %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td>Will Split Votes:</td>
            <td><%= @restaurant.histories.sum(:will_split).to_s %></td>
          </div>
        </tr>
         <tr>
          <div class="field">
            <td>Wont Split Votes:</td>
            <td><%= @restaurant.histories.sum(:wont_split).to_s %></td>
          </div>
        </tr>
        <tr>
       
       <tr>
          <td colspan="2"><div class="actions">
              <%= form.submit %>
              </div>
          </td>
        </tr>
     </table>
    </div>

  
<% end %>
