

<h1>About Split the Check</h1>
<p>
It started with a dream: a social media site that rates restaurants who split their customers' check.  Now, 10s of reviews later, Split the Check has become a world wide sensation, drawing users from all over the world.</p>
<%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %>
