<h1>Editing Restaurant</h1>
<div class="container">
<%= render 'form', restaurant: @restaurant %>



      <table class="table table-responsive">
      <tr>
        <td><%= link_to 'Show', @restaurant, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %></td>
      </tr>
      </table>


</div>
