



<div class="container">
  <div class="row">
    <div class="col-sm-4">
    
    <div class="jumbotron">
      <%= image_tag 'Splitcheck2.jpg', alt: 'Split the Check' %> 
      <div class="search">
          <h1>Search</h1>
          <p>Search restaurants by Name or Location</p>
          <%= form_tag(restaurants_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], id: :search_term %>
          <%= submit_tag 'Search', name: nil %>
          <% end %> 
        
      <h4>Can't find your Restaurant??</h4>
      <% if user_signed_in? %>
        <%= link_to 'Add a New Restaurant', new_restaurant_path, class: 'btn btn-primary btn-lg' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-lg'  %>
        <h4>Or</h4>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary btn-lg'  %>
        <h4>To Add Your Favorite Check Splitter!!</h4>
      <% end %>
      </div> 
   </div>
    </div>
    <div class="col-sm-8">
    <h1>Restaurant Split Rating</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>&nbsp</th>
        <th>Name</th>
        <th>Location</th>
        <th>Will split</th>
        <th>Wont split</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr class="restaurant">
          <td>
          <% if user_signed_in? %>
            <% if !current_user.favorite?(restaurant) %>
              <%= button_to "Favorite", favorite_path(restaurant_id: restaurant.id), class: 'btn btn-info btn-xs', method: :post %>
            <% else %>
              <span class="glyphicon glyphicon-star-empty"></span>
              Favorited!
            
          <% end %>
        <% end %>
          </td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.location %></td>
          <td><%= button_to 'will split votes: ' + restaurant.histories.sum(:will_split).to_s, restaurant_upvote_path(restaurant), method: :put %></td>
          <td><%= button_to 'wont split votes: ' + restaurant.histories.sum(:wont_split).to_s, restaurant_downvote_path(restaurant), method: :put %></td>
          <td><%= link_to 'Show', restaurant, class: 'btn btn-primary btn-xs' %></td>
          
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-primary btn-xs' %></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
</table>
</div>
</div>
</div>

<br>


