<h1>New Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<table class="table table-responsive">
      <tr>
        <td><%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %></td>
      </tr>
      </table>
