

      <table class="table">
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @restaurant.name %></td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td> <%= @restaurant.location %></td>
      </tr>

      <tr>
        <td><strong>Will Split Votes:</strong></td>
        <td> <%= @restaurant.histories.sum(:will_split).to_s %></td>
      </tr>

      <tr>
        <td><strong>Wont Split Votes:</strong></td>
        <td> <%= @restaurant.histories.sum(:wont_split).to_s %></td>
      </tr>
      
      <tr>
          <td><%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Back', restaurants_path, class: 'btn btn-primary btn-xs' %></td>
      </tr>
      <tr>
       
      
      <tr>
      <td>
      <% if @comments.count > 0 %>
        <h1>Comments</h1>
      <% end %></td>  
      
      <td>
        <% if user_signed_in? %>
          <%= link_to 'Add Comment', new_comment_path(restaurant_id: @restaurant.id, user_id: :current_user), class: 'btn btn-info btn-lg' %>
        <% end %></td>

      </tr>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><b><%= comment.user.email %></b> <i>says:</i> </td>
        <td><%= comment.comment %></td>
        
      </tr>
    <% end %>
  </tbody>

    </table


