/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";

.jumbotron {
  background-color: #7bc2e2;
}
notice {
  background-color: #bed97c;
  text-align: center;
  font-weight: bold;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header.main {
  background: #d75517;
}
header.navbar {
  background: #d75517;
}
